
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->



  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
      
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">User can do login</h2>
            <span class="text-light">Fill the below details to login to your account</span>
        </div>

       
       
    </div>
</main>
<!-- /Main Site -->
  <!-- add user form -->
  <%- include('include/_formlogin') %>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

